[2019-08-01 13:34] chinleung opened #3 "Unable to localize the home route"
## Information

Cannot use multilingual on the `/` route.

## How to reproduce

Change the supported locales to `['en', 'fr']`.

Put the following in `routes/web.php`:

[code]

## Output

[code]

[2019-08-01 13:55] #3 closed

[2019-08-06 15:42] chinleung opened #5 "Add support for view routes"
Something like:

[code]

To replace:

[code]

And to specify a view:

[code]

To replace:

[code]

[2019-08-06 16:03] chinleung commented on #5
Added in [v1.1.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.1.0).

[2019-08-06 16:03] #5 closed

[2019-09-19 20:01] chinleung opened #8 "Routes with identical keys are overwritten"
## Description

Routes with identical keys are overwritten by the last locale's registration.

## Code

### resources/lang/en/routes.php
[code]

### resources/lang/fr/routes.php
[code]

### resources/lang/nl/routes.php
[code]

### routes/web.php

[code]

## Output

| Method    | URI                | Name       | Action                              |
|-----------|--------------------|------------|-

[2019-09-19 23:10] #8 closed

[2019-09-20 06:53] ef2-delanoderooij opened #9 "Prefixes in wrong order when Route::prefix groups"
When using route groups that have a prefix defined will have the prefixes set in the wrong order.

[code]

Expected Output | Actual Output
------------ | -------------
en/backend/users | backend/en/users

[2019-09-20 19:22] #9 closed

[2019-09-20 19:25] chinleung commented on #9
@ef2-delanoderooij Nice catch. This is fixed in [v1.2.2](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.2.2).

[2019-10-10 18:52] chinleung opened #10 "Cannot register a view route"
When registering a route with:

[code]

A no action logic exception is thrown.

[2019-10-10 19:01] #10 closed

[2019-10-23 14:06] SimonBlok opened #12 "Bug: missing support for where at registering route"
According to the docs it should be possible to allow forward slashes in a parameter. See https://laravel.com/docs/6.x/routing#parameters-encoded-forward-slashes

When i register a multilingual route in the following way, i get an error. I can see this method is not implemented in the current implementation.

`Route::multilingual('search/{filter?}', 'Frontend\SearchController@search')
        ->whe

[2019-10-23 14:17] SimonBlok commented on #12
Short term solution is to globally define the filter for the parameter in the boot method of a serviceprovider, like so `Route::pattern('filter', '.*');`

[2019-10-23 14:43] chinleung commented on #12
@SimonBlok I've added support for route constraints in [v1.3.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.3.0).

Also, I'd recommend using translations for handle the filter. For example:

[code]

And then you can register the route with:

[code]

[2019-10-24 09:42] SimonBlok commented on #12
Thank you for the update, it's working. Also thanks for the tip to put the filter in the translation, much cleaner.

[2019-11-21 08:16] jsanchezgr opened #14 "Customize default locale for urls"
## Context
I have a site with the following locales: es (default), en (generic) and pt. The url structure should be as follows:
[code]
That can be achieved by setting `app.fallback_locale = 'es'`, however I need english to be the generic language.

## Problem
Taking a look to the code, this function forces the default (hidden) url prefix, to be the same as the fallback_locale language.
[code]

##

[2019-11-21 23:31] chinleung commented on #14
@jsanchezgr Yeah sure I'd accept a PR for that. Might as well change the `prefix_fallback` to `prefix_default`. 😄

[2019-11-27 15:50] chinleung commented on #14
@jsanchezgr I will have time to fix this issue this weekend. Can you let me know if you are about to finish this? Don't want to waste your effort! 😅

[2019-11-27 16:00] jsanchezgr commented on #14
Go ahead! I barely started it. Thanks

El El mié, 27 nov 2019 a las 16:50, Chin Leung <notifications@github.com>
escribió:

[2019-12-02 19:31] chinleung commented on #14
@jsanchezgr The configuration is now available in [v1.4.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.4.0). 😄

[2019-12-02 19:31] #14 closed

[2019-12-21 08:23] abdulwahid opened #17 "Support for Group Routes and "espanol" as locale"
I have two questions.
1. Does this provide support for grouped routes?
2. Is there a way to have `espanol` as locale instead `es`

E.g I want to have following routes:

**EN Routes:**
[code]

**ESPANOL Routes:**
[code]

For using `espanol`, i can do it by using `espanol` instead of `es` altogether throughout the project but this make me use `espanol` as locale key instead of `es`.
I can add `local

[2019-12-21 16:17] chinleung commented on #17
I'm not sure to understand this question. It is possible to achieve the three routes in your example with the locale key at the moment. So it would be:

[code]

Otherwise the locale key would have to be `espanol`.

Yes like you mentioned, you can do:

[code]

Could you explain what's the use case of having both mixed? Like why you want `es` as locale key, but use `espanol` at other places?

It wou

[2019-12-27 19:29] abdulwahid commented on #17
It was just the requirement to have `espanol` in routes, i just wanted to use `es` as locale key internally to follow conventions. However i have fixed the issue by using  `espanol` as locale key.

[2019-12-27 19:29] #17 closed

[2020-01-09 07:20] baminc opened #18 "Default Locale Index Route?"
It seems like its not possible to have the default route "/" redirect to a the default locale route.

For example my app has german "de" and english "en", german is default locale, the routes generated by:
`Route::multilingual('/', 'MainController@index')->name('index');`

only include "/" and "/en" but not "/de". Any way to force the routing to create a locale based route for all routes including

[2020-01-10 00:13] chinleung commented on #18
Hi @baminc,

You can add the following in your `.env` file to prefix the default locale:

[code]

Otherwise, you can [publish the config](https://github.com/chinleung/laravel-multilingual-routes#configuration) and update the value of `prefix_default` to `true`.

After you've updated the config, the generate routes should prefix even the default locale, so you will have a `/de` and a `/en` route.

[2020-01-10 00:13] #18 closed

[2020-01-10 06:42] baminc commented on #18
Thanks for the Fix!

[2020-01-16 04:52] plugowski opened #20 "Unable to register multiple Routes."
Hi I'm unable to register multiple routes. When I put that into web.php

[code]

First url works with multiple languages, but when I type `/products` or `/th/products` I receive 404 all the time. When I changed second entry into `::get` it works...

[2020-01-16 23:41] chinleung commented on #20
Hi @plugowski,

You can see the registered routes with `php artisan route:list` to see the outcome. However, I can see a few issues here. You are registering with `/products`, therefore the route will be translated to `routes./products`.

Instead, you could change it for:

[code]

And if you need to translate the products for your other locales, simply create a `routes.php` in the locale's lang fo

[2020-01-16 23:41] #20 closed

[2020-01-16 23:48] chinleung opened #21 "Trim slashes for translations"
When registering a route with a starting slash, the slash is not trimmed when loading from the translation files.

[code]

The above attempts to load `routes./products` instead of `routes.products` from the translations.

[2020-01-18 00:08] Firer opened #22 "Add a localized and multilingual version of Request::routeIs()"
In views, `Request::routeIs()` very useful for conditional matching of the current route. For instance when adding a class for a current active navigation link:
`{!! Request::routeIs('home.index') ? ' class="active"' : '' !!}`

This works nicely under a regular `GET` route like:
`Route::GET('/', 'HomeController@index')->name('home.index');`

However when we make the route multilingual:
`Route::mul

[2020-01-18 18:47] chinleung commented on #22
@Firer Sounds good! I'm going to work on it either this or next weekend! You could submit a PR if you'd like to as well! 😄

[2020-01-19 13:23] plugowski commented on #20
Hi,

I listed routes and I tried both ways `/products`, as well as `products`, both shows me the 404 page. That what I get by route:list:

`|        | GET|HEAD | routes.products    | en.products | App\Http\Controllers\ProductsController@show | web          |
|        | GET|HEAD | th/routes.products | th.products | App\Http\Controllers\ProductsController@show | web          |`

If I change:
`Route:

[2020-01-19 14:47] chinleung commented on #20
@plugowski You need to add your translation files. Please make sure you have a `resources/lang/en/routes.php` and a `resources/lang/th/routes.php` with the `products` as a translation.

For instance:

[code]

[2020-01-19 15:05] plugowski commented on #20
Whoa, it works :P I think that information about routes.php file should be better pointed in README ;) Thanks a lot!

[2020-01-19 15:22] chinleung opened #23 "Improve behaviour for missing translations of fallback locale"
Return the registration key if the translation is missing and the locale if the default locale.

For instance:

[code]

Should generate `/products` instead of `/routes.products` if the translation does not exist.

[2020-01-22 20:21] Firer opened #24 "Add localized version of redirect->route()"
Hey, I have another feature request, sorry for bothering you with them!

Usually when redirecting to a route we do someting like:
`return Redirect::route('home.index');`

but this doesn't work with multilingual routes. Instead, this work-around seems to do the job for now:
`return Redirect::route(App::getLocale() . '.home.index');`

My suggestion would be to add a localized version of this so that

[2020-01-22 23:53] chinleung commented on #24
@Firer No worries! Good idea, I'll add it in the next version, which will most likely be the upcoming weekend.

[2020-01-23 19:50] Firer opened #25 "Add a way to get the current route name without the localization"
Hi, it's me again 😅.

I'm wanting to build links to different locale versions of the current route, based on whatever the current route is. This is for linking to different language versions for the current page in a generic manner. This is for use in a language dropdown selector.

This code works:
`localized_route(substr(Route::currentRouteName(), 3), [], 'fr')`
but is not such an elegant solutio

[2020-01-25 00:09] chinleung opened #26 "Update the namespace"
Change the namespace to something shorter like `ChinLeung\MultilingualRoutes`.

[2020-01-25 02:40] #21 closed

[2020-01-25 02:40] #22 closed

[2020-01-25 02:40] #23 closed

[2020-01-25 02:40] #24 closed

[2020-01-25 02:40] #25 closed

[2020-01-25 03:01] chinleung commented on #25
@Firer I've added the helper `current_route('fr');` which would return the French version of the current route as you've suggested!

It will be available as of [v1.5.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.5.0).

[2020-01-25 03:09] #26 closed

[2020-01-25 03:26] chinleung commented on #24
@Firer I've added `Redirect::localizedRoute('home')` which will also be available as of [v1.5.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.5.0)

[2020-01-25 03:27] chinleung commented on #22
@Firer I've added `Request::localizedRouteIs('home');` which is available as of [v1.5.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.5.0).

[2020-01-28 21:27] chmoelders opened #28 "Home routes not working"
Hi!
The package looks pretty cool but I can't get it work.

The multilingual route "en/" doesn't work. Each GET request to http://localhost/en results in a 404.
A GET request to http://localhost/ works fine.

**To Reproduce**
Laravel v6.12.0 (fresh and clean)
Problem occurs on apache and nginx. First i suspected a problem with the mod_rewrite in apache.
I've tried _laravel-multilingual-routes_ v1.

[2020-01-28 23:58] chinleung commented on #28
Hmmm... that's strange. Not sure why it is resulting as `404` even though it is clearly registered in the router.

I'll investigate later, but for the moment, I've pushed a fix to [v2.0.1](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.0.1) and [v1.5.1](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.5.1).

[2020-01-29 09:36] itsnunolemos commented on #28
Same problem here. All routes with `MULTILINGUAL_ROUTES_PREFIX_DEFAULT=true` go to `404`.

[2020-01-29 09:56] chmoelders commented on #28
I successfully tried [v1.5.1](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.5.1).

 @itsnunolemos can you confirm this?

[2020-01-29 10:24] itsnunolemos commented on #28
I started again with last version and it worked. First I removed the package from `vendor` and next, I followed the installation:

1. `composer require chinleung/laravel-multilingual-routes`
2. Add in `app/Http/Kernel` the line `\ChinLeung\MultilingualRoutes\DetectRequestLocale::class`
3. `php artisan vendor:publish --provider="ChinLeung\MultilingualRoutes\MultilingualRoutesServiceProvider" --tag=

[2020-01-29 10:51] chmoelders commented on #28
@chinleung thanks for the fast reply and the fix

[2020-01-29 10:51] #28 closed

[2020-01-30 15:57] yanhao-li opened #29 "Keep both prefixed and not-prefixed route"
Hi, thank you for making such a clean and easy to use package.

I have a small question: when I declare my routes like `Route::multilingual('test', 'TestController')->name('foo');` and have 'prefix_default' set to `true`, it will generate following routes:

Method | URI | Name | Action
-- | -- | -- | --
GET\|HEAD | en/test | en.test | App\Http\Controllers\TestController
GET\|HEAD | fr/teste | fr.t

[2020-01-31 00:18] chinleung commented on #29
Hi @yanhao-li,

What do you mean by `default route`?

Wouldn't you just achieve the result you want with the regular router?

[code]

[2020-01-31 00:23] yanhao-li commented on #29
Method | URI | Name | Action
-- | -- | -- | --
GET\|HEAD | en/test | en.test | App\Http\Controllers\TestController
GET\|HEAD | fr/teste | fr.test | App\Http\Controllers\TestController
GET\|HEAD | test | test | App\Http\Controllers\TestController

Wouldn't that mean in order to get such a result I will have to duplicate my route declaration?

Route::multilingual('test', 'TestController');
Route::ge

[2020-01-31 00:26] chinleung commented on #29
Oh, I thought you only wanted the `/test` without the two others.

But then what will happen when the user visit `/test` and which locale is that route?

[2020-01-31 00:28] yanhao-li commented on #29
I plan to use the fallback locale, or if user has visited the site before, then using the locale stored in cookies, just want to keep the URL clean.

[2020-01-31 00:30] chinleung commented on #29
Hmm... But then that would cause duplicated content for your SEO. Shouldn't it redirect to the route of your fallback locale instead? For instance, redirect `/test` to `/en/test`? Or simply not prefix the default locale?

[2020-01-31 00:47] yanhao-li commented on #29
Well, SEO might be an issue, but to some extent, the pages of `/en` and `/fr` are also duplicate content, merely in a different language.

To me, it's just somewhat weird to always have a prefix in the URL, which in most cases that user don't have to care about, especially when you are designing an application that don't require SEO much, for example facebook.com, which will not append the prefix

[2020-01-31 01:07] chinleung commented on #29
If you are aiming to build something like an application, this package is not really suited because in applications like Facebook, their links are always the same no matter the locale. The locale of the application change based on the user's language preferences instead of the route. In that case, what you should do is add a `locale` property to your `App\User` model and load the locale based on t

[2020-01-31 14:45] yanhao-li commented on #29
ok, thank you for the replies. Closing this ticket.

[2020-01-31 14:45] #29 closed

[2020-02-04 21:05] chinleung opened #30 "Route name prefix not applying properly"
At the current moment, if you have a [route name prefix](https://laravel.com/docs/6.x/routing#route-group-name-prefixes), it is applied before the locale in the name:

## Example

[code]

## Result

[code]

## Expected Result

[code]

[2020-02-04 21:17] #30 closed

[2020-05-21 01:32] naja7host opened #34 "composer only install the old version"
installing the packages via composer in a laravel 7.0 return installation of v 1.0.0, when we force to install the latest version 2.3.0 compser return the error

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package chinleung/laravel-loc

[2020-05-21 02:29] #34 closed

[2020-05-21 15:00] chinleung commented on #34
@naja7host Did you figure it out? Asking since you've closed the issue.

[2020-06-10 14:38] jeffreyvr opened #36 "Suggestion to add fallback for current_route helper"
Thanks for the package, works well!

This is not so much an issue, but more a specific use case I ran into.

Only part of my app uses localized pages. In the footer of my site I have a language switcher dropdown. Within this dropdown I'm using the `current_route` helper.

 Sometimes (it's rare, but it happens) a page is not localized and using the `Route::multilingual()` route registration.

When

[2020-06-11 17:09] chinleung commented on #36
@jeffreyvr The fallback option is now available as of [v1.7.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.7.0) and [v2.4.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.4.0). 🎉

[2020-06-11 17:09] #36 closed

[2020-07-13 15:50] DA40 opened #37 "Post method results in error 419, page expired"
**Describe the bug**

This seems to be a very elegant solution to the localization problem, except that I can't get the post method to work.  When I click the Submit button on a form, I get error 419, page expired.

**To Reproduce**

In my web.php file, I have:

[code]

The implementations are in SiteController.php as follows:

[code]

This is the form in message.blade.php:

[code]

**Expected beh

[2020-07-13 20:29] chinleung commented on #37
Hi @DA40,

The error has nothing to do with the package. You are receiving the 419 because you are not passing the CRSF Token in your form.

Simply add the `@csrf` blade directive to your form like this:

[code]

You can read more about CSRF protection here: https://laravel.com/docs/7.x/csrf#csrf-introduction

[2020-07-13 20:29] #37 closed

[2020-07-13 21:33] DA40 commented on #37
Hi Chin Leung,

Thank you for letting me know the cause of the problem.

I had been struggling with the localization issue for a while, before discovering your solution, so knocked up a quick test site, before committing to using it.  In doing so, I forgot to include @csrf, but was thrown by the obscure error message.  I now feel confident to use your very elegant solution.

Best regards,

Keith M

[2020-07-13 23:45] chinleung commented on #37
Thanks @DA40 ! Don't hesitate if you have any questions.

[2020-07-14 14:20] DA40 commented on #37
Hi,

I was making good progress incorporating Multilingual Routes into my website, until I tried to modify routes such as:

Route::view('/addons/macros', ‘addons/template', ['menugroup' => 'download', 'page' => 'macros']);

Is it possible to pass Route::view’s optional third parameter (which I use to highlight the active parts of menus) to Route::multilingual?  Otherwise, I suppose I can do it via

[2020-07-14 18:27] chinleung opened #38 "Allow passing data to view options"
In order to replicate:

[code]

We have either use a controller, or use the `defaults` method:

[code]

However, it'd be nice to be able to pass the view data directly using the `data` method:

[code]

Or passing the data along with the `view` method:

[code]

[2020-07-14 18:30] chinleung commented on #37
At the current time, it is not possible. But I've opened an [issue](https://github.com/chinleung/laravel-multilingual-routes/issues/38) to add the possibility later on.

You can always use the controller or use the following alternative for the moment:

[code]

[2020-07-14 18:56] chinleung commented on #38
This feature is available as of [v2.5.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.5.0) and [v1.8.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.8.0).

[2020-07-14 20:11] DA40 commented on #37
That’s a shame, as I have 32 such routes, but thanks for the workaround.

From: Chin Leung <notifications@github.com>
Sent: 14 July 2020 19:31
To: chinleung/laravel-multilingual-routes <laravel-multilingual-routes@noreply.github.com>
Cc: DA40 <keithmac66@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [chinleung/laravel-multilingual-routes] Post method results in error 419, page ex

[2020-07-14 20:56] chinleung commented on #37
I've released a new version that will support passing data. You can have a look at this [issue](https://github.com/chinleung/laravel-multilingual-routes/issues/38) for more information.

[2020-07-14 21:09] DA40 commented on #37
I’m impressed.  You made that enhancement faster than I could modify my routes according to your workaround!
Thanks very much.

From: Chin Leung <notifications@github.com>
Sent: 14 July 2020 21:57
To: chinleung/laravel-multilingual-routes <laravel-multilingual-routes@noreply.github.com>
Cc: DA40 <keithmac66@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [chinleung/laravel-multilin

[2020-07-22 08:07] vaskolukas opened #39 "Error when using Route::multilingual()->middleware()"
**Describe the bug**

I have this route:

[code]

And I am receiving this error:

Without attached middleware routes working fine.

[2020-07-22 18:31] chinleung commented on #39
Hi @vaskolukas,

I'm going to have a look at the middleware. For the moment, you can use this as a workaround:

[code]

[2020-07-27 20:31] chinleung commented on #39
The middleware method is not available as of [v2.6.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.6.0).

[2020-07-27 20:31] #39 closed

[2020-08-12 15:18] chinleung opened #40 "Route constrains in different locale"
Let's say for instance we have the following translation in the routes file:

[code]

It is possible to constrain route parameters at the current time like this:

[code]

This will allow the following routes:

[code]

However, in the english version of the website, we don't really want `aliments` or `musique` in the available categories. As for the french version, we wouldn't want `food` or `music

[2020-08-17 16:06] chinleung commented on #40
It is now possible to pass a locale as the third parameter when using the `where` method to apply the constraint only for a specific locale as of [v2.7.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.7.0) and [v1.10.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v1.10.0).

[code]

[2020-08-17 16:06] #40 closed

[2020-08-26 07:29] kyfr59 opened #41 "Issue with / when the site is under a subdirectory"
Hi Chin and thanks for your great work.

I've an issue with the `/` route when the site is under a subdirectory, e.g. :

`http://local/mysite/`

I've 2 locales ['en', 'fr'] and my base is "fr".

All my routes can switch between my locales, except the homepage, on `http://local/mysite` (in french) :

- `current_route("en") `gives me : `http://local/mysite/mysite`, probably due to [this line](https:

[2020-08-26 07:41] kyfr59 commented on #41
`Route::multilingual('/', function () {` instead of `Route::get('/', function () {` solve the issue 🥇

Sorry for the buzz.

Franck.

[2020-08-26 07:41] #41 closed, assigned to nobody

[2020-09-11 13:05] dmazlum opened #42 "How to add parameter my route?"
Can I add parameters multilingual URL. When I attach a parameter I get 404 error.

[code]

[2020-09-11 13:25] chinleung commented on #42
Hi @dmazlum,

Which version of the package are you using? Can you also add the output of your `php artisan route:list`?

I've just tried the following:

[code]

And I get the following output in my `php artisan route:list`:

[code]

---

I would recommend moving the key into the translation file. So what you could do is add the following to your `resources/lang/en/routes.php`:

[code]

And then yo

[2020-09-11 14:19] dmazlum commented on #42
Hello @chinleung , Your code is working now. Thanks.

[2020-09-11 14:29] #42 closed, assigned to nobody

[2020-09-19 10:05] da40 opened #43 "Crash with undefined offset after upgrading to Laravel 8"
**Describe the bug**

Routes which directly display a view cause a crash at vendor\laravel\framework\src\Illuminate\Routing\ViewController.php:35, as seen in the attached trace back.
[laravel.log](https://github.com/chinleung/laravel-multilingual-routes/files/5249507/laravel.log)

**To Reproduce**

Steps to reproduce the behavior:

1. Create a new Laravel 8 app.
2. Install laravel-multilingual-rou

[2020-09-19 12:09] chinleung commented on #43
Hi @DA40,

The fix is available as of [v2.7.2](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.7.2).

[2020-09-19 12:09] #43 closed, assigned to chinleung

[2021-01-09 14:39] mvneobux opened #44 "Multi-segment route translation"
I can only translate the first segment of each URL. For example:

[code]

So far it works normal. But when I need to translate this url for example: https://www.meempi.com/perfil/preferencias

I can't translate, how should I proceed in that case when the routes have more than one segment?

[2021-01-10 19:25] chinleung commented on #44
@mvneobux You can include segments in your translation file. For instance:

[code]

And in your route you will have:

[code]

[2021-01-10 21:35] mvneobux commented on #44
does not work. My route:

[code]

I'll give another example, of routes that have parameters. How could I translate the following routes:

[code]
How can I translate these routes?

[2021-01-11 04:16] chinleung commented on #44
@mvneobux You are not using the key correctly in your function. It should be `Route::multilingual('preferencias', ...);` instead of `Route::multilingual('perfil/preferencias', ...);`. Put the segments in your `routes.php` translation file instead of the `web.php`.

As for the routes with parameters, you can use a meaningful key name such as `single-grupo`.

[code]

Then in your `routes.php`:

[cod

[2021-01-11 17:31] mvneobux commented on #44
I did not understand. So the way my routes are, I will not be able to translate?

My route is "perfil/preferencias" and not "preferencias"

As I understand it, I can only translate when the route has only one segment. Look at this example again, how can I translate this:

`Route::multilingual('sonhos', 'GruposController@sonhos')->name('sonhos');

Route::multilingual('sonhos/{grupo}', 'GruposContro

[2021-01-11 17:44] chinleung commented on #44
@mvneobux The `preferencias` keyword would be the key in the translation file, not the path of the route itself.

Here's an example of how you can achieve what you want 2 ways.

## Using a translation key

[code]

## Using the full path as the key

[code]

In both cases, it will generate the following routes:

[code]

[2021-01-13 18:21] mvneobux commented on #44
this worked perfectly:
[code]

But I still haven't been able to translate routes with parameters, like this:
[code]
I have this that works well only on the first route:
[code]

But what about the rest? I tried everything but I can't, I thought I could solve it like this:
[code]

How do I solve this?

[2021-01-13 18:27] chinleung commented on #44
@mvneobux What version of the package are you using? I just tested it on the latest version and it works properly with:

[code]

[2021-01-13 18:38] mvneobux commented on #44
"chinleung/laravel-multilingual-routes": "^2.6",

Laravel 7

[2021-01-13 18:58] chinleung commented on #44
@mvneobux Can you try to update to `^2.7`? If it's still not working, could you provide a demo repository so I could check what's not working?

Also, when you say that it's not working, what is the result you are getting? Can you show me the output of `php artisan route:list --columns=uri,name` please?

[2021-01-13 19:02] mvneobux commented on #44
Friend worked :)

Thank you very much for your attention and responsiveness.

Sorted out!

thank you so much

[2021-01-13 19:29] chinleung commented on #44
@mvneobux Alright! Glad it's working. 😄

[2021-01-13 19:29] #44 closed, assigned to nobody

[2021-03-06 23:29] mvneobux opened #46 "Default route is not defined"
My default home page route should be "en-us". However it is not working at all. When I try to access the route I get a 404 error. See:

My route:
```Route::multilingual('/cadastrar', 'CadastroController@index')->name('cadastrar');```

Configuration file:
[code]

Config App:
[code]

Because it does not work ?? if I change the locale to "en" then it works, but as "pt-br" it doesn't

[2021-03-08 13:30] chinleung commented on #46
Hi @mvneobux,

You need to setup a `locales` config in your `config/app.php` or publish the config file for the locales: https://github.com/chinleung/laravel-locales#configuration.

I've setup a working [example](https://github.com/chinleung/laravel-multilingual-routes-demo/tree/issue-46) that contains the following routes:

[code]

Let me know how it goes. 😄

[2021-03-08 19:19] mvneobux commented on #46
Thanks :)

[2021-03-08 19:19] #46 closed, assigned to chinleung

[2021-03-10 19:54] wsslfnstr opened #47 "Possible to use subdomain/domain instead of /en/home"
Is it possible to use multiple (sub)domains instead of url?
For example:
laravel.nl/home

instead of

laravel.com/nl/home

I hope to hear from you soon.

[2021-03-11 13:04] chinleung commented on #47
Hey @wsslfnstr, it is currently not possible to achieve this structure with the package but I plan to support it in the future.

For the moment, you'd have to register your routes manually.

[2021-03-19 12:38] climascomunicacion opened #48 "Customize 404 and 500 error pages"
I try to customize error pages for the 404 and 500 error using Laravel 8.x , but i don't know how to handel these errors with multilingual-routes.

I have 2 baldes in /resources/views/errors/404.blade.php and /resources/views/errors/500.blade.php

I edited /app/Exceptions/Handler.php:

![Captura de pantalla 2021-03-19 a las 13 39 59](https://user-images.githubusercontent.com/79713169/111781899-aba

[2021-03-19 16:56] chinleung commented on #48
@climascomunicacion I don't think this has anything to do with the package but I can help you debug it.

What is the error 500? You can find it in your `storage/logs`.

Also, you don't need the `if` case in your `Handler.php` since Laravel will handle it for you automatically.

https://laravel.com/docs/8.x/errors#custom-http-error-pages

[2021-03-19 21:54] climascomunicacion commented on #48
Thanks for the replay,

debuging the error i found a bad route in one of my blades in the layout i was using to show the custom 404 error page.

I fixed that route and deleted the render function i was using in Handler.php.

Now it's working fine

[2021-03-19 22:53] #48 closed, assigned to nobody

[2021-04-20 13:49] chinleung opened #49 "Redirections"
Add support for multilingual redirections.

[code]

To generate the following routes:

[code]

[2021-05-05 08:44] MarcelWeidum opened #50 "Prefixed route results in 404"
**Describe the bug**

When I group a route and prefix it, it throws a 404.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'routes/web.php'
2. Make a grouped route
3. Make a child route in the grouped route
4. Navigate to child route
5. See error

**Expected behavior**

Run controller method.

**Result of route:list**:

[code]

My `routes/web.php`:

[code]

If I navigate to /blog it

[2021-05-11 18:59] chinleung commented on #50
@MarcelWeidum Just wanted to let you know that I've been able to reproduce the error. I'll be having a look on what's causing this and publish a fix.

[2021-05-24 15:17] MarcelWeidum commented on #50
@chinleung great thank you 🤩

[2021-06-01 11:41] Heqma opened #51 "How to initiate this package?"
"
UnexpectedValueException
Invalid route action: [App\Http\Controllers\FrontController].

`App\Http\Controllers\FrontController` is not invokable.
The controller class App\Http\Controllers\FrontController is not invokable. Did you forget to add the __invoke method or is the controller's method missing in your routes file?"

controller
[code]

[2021-06-01 12:23] chinleung commented on #51
@Heqma Can you show the contents of the FrontController please? Do you have an `__invoke` method?

[2021-06-01 12:39] Heqma commented on #51
![image](https://user-images.githubusercontent.com/71975536/120324561-0f9b4500-c2e7-11eb-84c5-1ff2284aa8e7.png)
![image](https://user-images.githubusercontent.com/71975536/120324615-1d50ca80-c2e7-11eb-9e0c-19c5e4814c0a.png)
i dont know why my route group isnt work... i have 404.. with group routes.. i

[2021-06-01 12:54] chinleung commented on #51
@Heqma There's currently an issue with prefixes. I'll be working on this soon. For the moment, you can do it without the `prefix` method.

I'll be closing this since it's a duplicate of https://github.com/chinleung/laravel-multilingual-routes/issues/50.

[2021-06-01 12:54] #51 closed, assigned to chinleung

[2021-06-01 13:01] Heqma commented on #51
Ok then... also i need to know why translate isn't work...
![image](https://user-images.githubusercontent.com/71975536/120327402-ffd13000-c2e9-11eb-83aa-a5a6078d4301.png)
![image](https://user-images.githubusercontent.com/71975536/120327517-22fbdf80-c2ea-11eb-9da6-7f8a63148014.png)

`Facade\Ignition\Exceptions\ViewException
Route [contact.store] not defined`

[2021-06-01 13:22] chinleung commented on #51
@Heqma When you use the `name` method, it adds the locale prefix to the route's name. So it would either be `pl.contact.store` or `en.contact.store`. Or you can use the helper `localized_route('contact.store')`.

You can view the list of your application's routes with `php artisan route:list` to confirm their names.

[2021-06-01 13:45] Heqma commented on #51
![image](https://user-images.githubusercontent.com/71975536/120334605-0f07ac00-c2f1-11eb-93f4-8df0ee9df237.png)

![image](https://user-images.githubusercontent.com/71975536/120334323-d49e0f00-c2f0-11eb-9541-b476431258c9.png)
![image](https://user-images.githubusercontent.com/71975536/120334779-38c0d300-c2f1-11eb-8ca5-0597e3a737e3.png)
![image](https://user-images.githubusercontent.com/71975536/120

[2021-06-01 15:05] Heqma opened #52 "Another Question - localized_route"
Hi, i have another Q becouse i have something like this in href "{{ localized_route('front.index') }}"   with this controller "Route::multilingual('/', 'FrontController@index')->name('front.index');" and it's work..without pl.front.index but why isn't work with other routes like this?

like:
    Route::multilingual('/blog/wpis/{slug}', 'BlogController@show')->name('blog.show');
    href ="{{ local

[2021-06-01 15:36] chinleung commented on #52
@Heqma You are missing the slug parameter for your route. It should be something like this:

[code]

[2021-06-01 15:44] Heqma commented on #52
Ok, but it doesnt translate the route and why i need put slug if it is in route?, dont close topics..

[2021-06-01 15:48] chinleung commented on #52
Did you add it in your translation files?

[code]

[2021-06-01 15:53] Heqma commented on #52
Yes
![image](https://user-images.githubusercontent.com/71975536/120353809-39ae3080-c302-11eb-8793-47a14d1a8b84.png)
![image](https://user-images.githubusercontent.com/71975536/120354427-b4774b80-c302-11eb-9413-7241bd461eb9.png)

![image](https://user-images.githubusercontent.com/71975536/120353946-5a768600-c302-11eb-89ae-71f5bf4e558a.png)
![image](https://user-images.githubusercontent.com/71975536

[2021-06-01 16:50] chinleung commented on #52
@Heqma You only translated the `blog` route. There should be another one:

[code]

Or you can use a friendly key:

[code]

And then add the following in your `routes.php`:

[code]

[2021-06-01 17:15] Heqma commented on #52
Oh.. i see.. that how it's works..

[2021-06-01 17:40] chinleung commented on #52
@Heqma Does it work for you now?

[2021-06-02 12:21] #52 closed, assigned to nobody

[2021-06-08 16:58] Heqma opened #53 "How use multilingual for /{slug}"
ERROR: Missing required parameters for [Route: pl.page.show] [URI: {slug}]
Missing required parameters for [Route: en.page.show] [URI: en/{slug}]

Route

[code]

page controller

[code]

Page model

[code]

Inside blade
`{{ localized_route('page.show') }}`
or
`{{ localized_route('page.show')->whereIn('id', [5]) }}`
is not work

[2021-06-14 14:51] chinleung commented on #53
@Heqma

You need to pass a slug to your route:

[code]

[2021-06-18 18:16] #53 closed, assigned to nobody

[2021-06-19 07:03] Heqma commented on #53
Ok, but doing this way, slug isn't translated.. and prefix isn't work.. this 2 translated slugs.. are working on 2 prefixes:

/o-nas     ------   **/en/o-nas**
/about-us    ------   **/en/about-us**

--------------------------------------------------------

primary lang/pl/routes.php
 'o-nas' => 'o-nas',

secondary lang/en/routes.php translated &  it should be with default with "en" prefix
  'o-na

[2021-07-15 19:16] greatislander opened #54 "On 404 page, current_route with fallback throws an error"
**Describe the bug**

When `current_route()` with a fallback is used in a template that is rendered on a 404 page, the helper throws an error rather than using the fallback route:

[code]

This is caused by the `$route->getName()` call on line 25: https://github.com/chinleung/laravel-multilingual-routes/blob/47683d255325fd825ca5da893e9d8fae02844f05/src/helpers.php#L21-L26

However, on a 404 page t

[2021-07-19 16:00] chinleung commented on #54
Hey @greatislander,

This looks good to me! Could you submit a pull request with the test please?

Thanks!

[2021-07-19 17:38] #54 closed, assigned to chinleung

[2021-07-19 17:40] chinleung commented on #54
Thanks @greatislander! This is fixed as of [v2.7.4](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.7.4).

[2021-08-29 17:37] NDruce opened #56 "locale() method never return "en" for default (for fallback lang) route"
**Describe the bug**

I setup and configured all by instruction, even inserted required row into $middlewareGroups in Kernel, and I have this language list in `config/locales.php`:

[code]

And that route:

[code]

And when I request site via `mysite.com/de`, {{ locale() }} returns `de`. But when I access site via `mysite.com`, {{ locale() }} return me `de` too, not `en`. How to solve that? And is

[2021-08-29 23:18] NDruce commented on #56
Solved! Sorry, I forgot for `.env` file, it was contain non-english default locale

[2021-08-29 23:18] #56 closed, assigned to nobody

[2021-09-09 12:51] monsieurbab opened #57 "Add a slash at the end of multilingual Home routes"
Hello,
After configuring and installing this package, I realized that Home multilingual routes don't have a trailing slash.

Example :
-> Desired route: **https://www.example.com/fr/**
-> Route generated: **https://www.example.com/fr**

routes/web.php
`Route::multilingual('/', [ShowHomepage::class])->name('homepage');`

php artisan route:list
`GET|HEAD | /fr      | fr.homepage          | Closure

[2021-09-09 12:59] chinleung commented on #57
Hey @MonsieurBab,

Is there any reason why you would like a trailing slash only for the home routes?

[2021-09-09 14:53] monsieurbab commented on #57
Thank you for the quick reply!

There is no particular technical reason. This is a "URL style" that we use on our current website and we would like to keep it. None of our URLs do not contain a slash at the end except for Home which acts as the starting point of a "Language Folder" if you imagine it like that.

Do you think it's possible that you add the option to the package or do you think it wo

[2021-09-09 17:10] chinleung commented on #57
@MonsieurBab What about the other routes though? Do they have a trailing slash?

If I'm not mistaken, Laravel supports the trailing slash by default.

So if your registered route is `/fr`, the `/fr/` would work as well.

I could add an option to add a trailing slash but it would be for all routes managed by the package, not only the home url.

[2021-09-10 12:44] monsieurbab commented on #57
No, I only need it for the Home route of each language.

By default Laravel has this rule in the .htaccess:
[code]

If you can't add the option of trailing slash for some routes only, then I think I'll put a rule in the .htaccess for our Home routes. That will be simpler ;)

Thanks for your help!

[2021-09-10 14:13] chinleung commented on #57
Oh I see. I use nginx which doesn't use the .htaccess, that's why it's working for me! Wouldn't that rule remove the trailing slash even if you register the route with a trailing slash though? 🤔

-----

I found a workaround to register the home routes with a trailing slash:

[code]

And then in all your translation files `resources/lang/{locale}/routes.php`, you can add the following:

[code]

Thi

[2021-09-10 14:13] #57 closed, assigned to chinleung

[2021-09-23 07:08] hinink opened #58 "Maximum function nesting level of '256' reached, aborting!"
Maximum function nesting level of '256' reached, aborting!

[2021-09-23 12:32] chinleung commented on #58
@zc520yzy Do you have any code to reproduce?

[2021-10-07 16:32] AbdullahFaqeir commented on #58
This exception is caused by a recursive call that keeps going as the stop condition isn't reached, it's an error thrown mostly from xdebug, could you please provide a code sample from where this issue is happening?

[2021-10-07 16:34] AbdullahFaqeir commented on #50
Is this issue still presented?

[2021-10-07 16:52] MarcelWeidum commented on #50
@AbdullahFaqeir yes, never fixed

[2021-10-07 16:57] AbdullahFaqeir commented on #50
If the package maintainer can check my PR the soonest, I'd submit a PR fixing this within 2-3 hours.

[2021-10-08 14:28] chinleung commented on #50
@MarcelWeidum Sorry, I totally forgot about this issue!

@AbdullahFaqeir Can you please submit a pull request? I'll review it right after.

[2021-10-08 14:29] AbdullahFaqeir commented on #50
Hello @chinleung,

Sure I will, I'm currently working on another PR, I'll instantly move to it once I submit the PR I'm working on it, I need like 2 hours.

[2021-10-09 15:58] chinleung commented on #50
@MarcelWeidum This is fixed in [v2.7.5](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.7.5). 😄

[2021-10-09 15:58] #50 closed, assigned to chinleung

[2021-10-09 17:55] AbdullahFaqeir commented on #50
@chinleung can you please add hacktoberfest to the topics of the repo?

[2021-10-11 13:39] chinleung commented on #50
Hey @AbdullahFaqeir! I've added the topic. :)

[2021-10-11 14:01] AbdullahFaqeir commented on #50
Thanks a lot <3

[2021-10-12 11:16] AbdullahFaqeir commented on #50
Hey, I'm really sorry for the disturb ^^', but there's a typo in the repo's topic, it's "hacktoberfest" not "hactoberfest", there's a missing k hahahah

[2021-10-12 12:03] chinleung commented on #50
Oops, I've corrected it now. Sorry, added it from my mobile phone. 😅

[2021-10-15 02:15] AbdullahFaqeir commented on #49
@chinleung can you please elaborate?

[2021-10-15 02:36] chinleung commented on #49
@AbdullahFaqeir

Basically it will handle the redirections of a route in all locales. As of now, if you want to redirect a route, you'd have to manually add it like this in all locales:

[code]

So adding a `redirect` method would handle that.

[2021-10-23 01:30] AbdullahFaqeir commented on #49
@chinleung

This issue to be closed.

[2021-10-25 12:16] chinleung commented on #49
This is supported as of [v2.8.0](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.8.0).

[2021-10-25 12:16] #49 closed, assigned to nobody

[2021-11-10 14:47] ricardogobbosouza opened #61 "Binding routes not working"
Binding routes not working

[code]

On reset uri https://github.com/chinleung/laravel-multilingual-routes/blob/v2/src/MultilingualRegistrar.php#L301 the `bindingFields` are cleared.

[2021-11-10 15:49] #61 closed, assigned to nobody

[2021-11-10 15:51] chinleung commented on #61
This is fixed as of [v2.8.1](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.8.1).

[2021-12-14 15:22] domihagen opened #63 "Error when Route not defined for this locale"
**Describe the bug**

When defining an route that is only available in view locales it throws an Error when calling `localized_route()`

**To Reproduce**

Steps to reproduce the behavior:

1. Define a Route `Route::multilingual('test/', [TestController::class, 'show'])->name('myTest')->only(['en', 'nl']);`
2. Place `localized_route('myTest')` in a Blade-File
3. Call the Page with some other locale

[2021-12-14 18:13] chinleung commented on #63
Hey @domihagen,

Thanks for the bug report. I'm still thinking about the behaviour we'd like to have since it'd be the same case if you use the `route` helper on a non registered route.

For instance:

[code]

And then you would still get an error using Laravel's helper `route('test');` since we forgot to name the route with `->name`.

If we silence the error in this case, the error might go unnot

[2021-12-15 08:08] domihagen commented on #63
Hey @chinleung,

It is clear that you get an error if you call a route that is not defined. But your package offers the possibility to have routes only in certain locales.

Maybe it makes sense to be able to pass a fallback, like in the `current_route()` helper?

We have those locales: EN (default), NL, FR, IT, ES
Published locales: EN & NL

Real life example:

We have some routes (routes are defi

[2021-12-15 15:55] chinleung commented on #63
Hey,

Yeah it makes sens to me. 😄

What do you think about having a config to have the helper do one of the following actions if the route doesn't exist:

1. Throw an exception
2. Returns null
3. Returns the homepage of the locale

Or maybe adding a fallback to the helper like you've suggested.

[2021-12-16 07:48] domihagen commented on #63
This sounds good to me 👍

[2022-02-03 13:09] MatejMozola opened #65 "InvalidArgumentException Attribute [multilingual] does not exist."
Hi, just uploaded on server, worked fine on local environment. Can anyone guess what might be the problem?

[2022-02-06 20:47] chinleung commented on #65
Hey @MatejMozola,

It's hard to help without more information. The method is added via the service provider `MultilingualRoutesServiceProvider.php`.

Is the service provider loaded on your server?

[2022-02-15 16:04] MatejMozola commented on #65
Finally solved the problem, yes I uploaded all new or edited files but problem was I didnt upload /bootstrap/cache/routes-v7.php file. Thank you for a great package and keep up the good work.

[2022-02-15 16:04] #65 closed, assigned to nobody

[2022-02-20 20:57] criting opened #67 "Not detecting 'as' in routes"
**Describe the bug**

Using 'as' in the route doesn't work and the blade file cannot find it.
Example

`Route::multilingual('food', ['as' => 'food:list', 'uses' => 'FoodController@index']);`

Getting **Route [food:list] not defined.** error

Shouldn't this work by default? it is only used so we don't need to change the route url in the blade files, but actually calling them by unique name.

[2022-02-21 13:38] chinleung commented on #67
Hi @criting,

This is old Laravel syntax.

You can achieve it this way:

[code]

Which will generate `{$locale}.food:list` as a route.

You can then confirm with `php artisan route:list` command.

[2022-02-21 16:19] #67 closed, assigned to chinleung

[2022-04-29 10:55] ghost opened #68 "Prefixed routes are malformed after route:cache command"
**Describe the bug**

When one registers a route with a prefix and the route:cache command has been executed then the registered route uri becomes malformed; the prefix is duplicated and the locale is gone.

**Steps to Reproduce**

Register prefixed route
[code]

[code]

**Reproduction output**
[code]

[code]

[code]

[code]

[code]

**Additional context**

PHP 8.1
Laravel 8.X
Branch v2

[2022-05-05 18:03] greatislander opened #70 "current_route compatibility with spatie/laravel-translatable and spatie/laravel-sluggable?"
**Describe the bug**

I'm using a model with a translatable name (using [spatie/laravel-translatable](https://github.com/spatie/laravel-translatable/)) which is used as the source for a translatable slug (using the `HasTranslatableSlug` trait of [spatie/laravel-sluggable](https://github.com/spatie/laravel-sluggable/)).

However, a multilingual route for the model does not use the translated slug,

[2022-05-16 14:21] chinleung commented on #70
Hey @greatislander,

I was on vacation the past weeks. I'll try to reproduce this bug later this week and let you know. 😄

[2022-05-17 00:33] chinleung commented on #70
@greatislander What version of Laravel are you using? Also, can you make a repository with the issue so that I could test it please? :)

[2022-05-17 01:18] greatislander commented on #70
I'm using Laravel 9— and yes, I can do that. I'll try to set up a repository with a minimal test case tomorrow for you to test out.

[2022-05-17 12:34] greatislander commented on #70
@chinleung Okay, so I found a solution to the main issue while recreating it in this test case: https://github.com/greatislander/translatable-slugs

In my application, `\ChinLeung\MultilingualRoutes\DetectRequestLocale::class` was not the first entry in the `web` middleware array. In the [documentation](https://github.com/chinleung/laravel-multilingual-routes#installation) it would be helpful to c

[2022-05-18 12:16] chinleung commented on #70
@greatislander I was able to reproduce it but I'm not sure if this should be a fix in the package or not.

I've updated the `current_route` helper like the following:

[code]

The issue is that the slug is generated based on the application's current locale. Therefore, I'm changing the locale of the application temporarily to generate the route, and then switch back to the application's previous l

[2022-05-18 14:48] chinleung commented on #68
This is fixed as of [v2.8.2](https://github.com/chinleung/laravel-multilingual-routes/releases/tag/v2.8.2).

[2022-05-18 14:48] #68 closed, assigned to nobody

[2022-08-25 08:29] gpluess opened #73 "How to deal with Route::resource()?"
What's the best way to deal with [Resource Controllers](https://laravel.com/docs/9.x/controllers#resource-controllers)?

Since there is no `Route::multilingualResource()` at the moment, I've solved it like this.

Before:
[code]

After:
[code]

Is there a better way to solve this?